<div class="icheck-success d-inline"> 
    &nbsp;
    <label for="checkbox1">grafica-1:</label>
    <input type="checkbox" id="checkbox1">
    &nbsp;
    <label for="checkbox2">grafica-2:</label>
    <input type="checkbox" id="checkbox2">
    &nbsp;
    <label for="checkbox3">grafica-3:</label>
    <input type="checkbox" id="checkbox3">
</div>

<div id="grafic-1" style="height: 300px; width: 300px; margin: 0"  >grafica-1</div>
<div id="grafic-2" style="height: 300px; width: 300px; margin: 0"  >grafica-2</div>
<div id="grafic-3" style="height: 300px; width: 300px; margin: 0"  >grafica-3</div>
{% include '../script/graficas.html' %}