{% extends 'plantilla.html' %}

{% block title %}Sistema NOC - Alarmas Descartadas{% endblock %}

{% block sub-title %}Alarmas Descartadas{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
            <div class="card-body">
                <table style="font-size: 12px;" id="example1" class="table table-bordered table-hover text-center">
                                        <thead style="font-size: 12px;">
                                        <tr>
                                            <th>Hora</th>
                                            <th>Equipo</th>
                                            <th>Alarma</th>
                                            <th>Acciones</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <!-- <td><?php echo $dato->hora_inicio; ?></td>
                                                <td><?php echo $dato->equipo; ?></td>
                                                <td><?php echo $dato->tipo_alarma; ?></td> -->
                                                {% for descartada in descartadas  %}
                                                    <tr>
                                                        <td>{{ descartada.hora_inicio }}</td>
                                                        <td>{{ descartada.equipo }}</td>
                                                        <td>{{ descartada.tipo_alarma }}</td>
                                                        <td><a href="{% url 'descartada' descartada_id=descartada.id %}" style="font-size: 12px;" class="btn btn-warning btn-sm btn_gestionar fa-sharp fa-solid fa-eye-to-square" >Recuperar</a></td>
                                                    </tr>
                                                {% endfor %}
                                        </tbody>
                                        </table>
                        </div>
                    </div>
                </div>
            </div>
    </section>

{% endblock %}