                                        <!-- ./row -->
                                        <div class="row">
                                          <div class="col-12 col-sm-12">
                                            <div class="card card-primary card-tabs">
                                              <div class="card-header p-0 pt-1">
                                                <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                                      <li class="nav-item">
                                                      <a class="nav-link" id="custom-tabs-one-dash-tab" data-toggle="pill" href="#custom-tabs-one-dash" role="tab" aria-controls="custom-tabs-one-dash" aria-selected="false">DASHBOARD</a>
                                                      </li>   
                                                      {% if show_view1 %}
                                                      <li class="nav-item">
                                                          <a class="nav-link" id="custom-tabs-one-core-tab" data-toggle="pill" href="#custom-tabs-one-core" role="tab" aria-controls="custom-tabs-one-core" aria-selected="false">CORE</a>
                                                      </li>                
                                                      {% endif %}
                                                      
                                                      {% if show_view2 %}
                                                      <li class="nav-item">
                                                          <a class="nav-link" id="custom-tabs-one-nodo-tab" data-toggle="pill" href="#custom-tabs-one-nodo" role="tab" aria-controls="custom-tabs-one-nodo" aria-selected="false">NODO</a>
                                                      </li>
                                                      {% endif %}
                                                      {% if show_view3 %}
                                                          <li class="nav-item">
                                                          <a class="nav-link" id="custom-tabs-one-gpon-tab" data-toggle="pill" href="#custom-tabs-one-gpon" role="tab" aria-controls="custom-tabs-one-gpon" aria-selected="false">GPON</a>
                                                          </li>
                                                      {% endif %}

                                                      {% if show_view4 %}
                                                          <li class="nav-item">
                                                          <a class="nav-link" id="custom-tabs-one-txnal-tab" data-toggle="pill" href="#custom-tabs-one-txnal" role="tab" aria-controls="custom-tabs-one-txnal" aria-selected="false">TX NAL</a>
                                                          </li>
                                                      {% endif %}


                                                      {% if show_view5 %}
                                                          <li class="nav-item">
                                                          <a class="nav-link" id="custom-tabs-one-adsl-tab" data-toggle="pill" href="#custom-tabs-one-adsl" role="tab" aria-controls="custom-tabs-one-adsl" aria-selected="false">ADSL</a>
                                                          </li>
                                                      {% endif %}

                                                      {% if show_view6 %}
                                                          <li class="nav-item">
                                                              <a class="nav-link" id="custom-tabs-one-local-tab" data-toggle="pill" href="#custom-tabs-one-local" role="tab" aria-controls="custom-tabs-one-local" aria-selected="false">TX LOCAL</a>
                                                          </li>
                                                      {% endif %}
                  
                                                      {% if show_view7 %}
                                                          <li class="nav-item">
                                                              <a class="nav-link" id="custom-tabs-one-iptv-tab" data-toggle="pill" href="#custom-tabs-one-iptv" role="tab" aria-controls="custom-tabs-one-iptv" aria-selected="false">IPTV</a>
                                                          </li>
                                                      {% endif %}
                  
                                                      {% if show_view8 %}
                                                          <li class="nav-item">
                                                          <a class="nav-link" id="custom-tabs-one-mpls-tab" data-toggle="pill" href="#custom-tabs-one-mpls" role="tab" aria-controls="custom-tabs-one-mpls" aria-selected="false">MPLS</a>
                                                          </li>
                                                      {% endif %}
                                                      </ul>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>