{% extends 'plantilla.html' %}

<!-- {% url 'usuarios' %} -->

{% block title %}Sistema NOC - Casos Reportados{% endblock %}

{% block sub-title %}Casos Reportados{% endblock %}

{% block content %}
                <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped text-sm text-center">
                            <thead>
                            <tr>
                            <th>INC</th>
                            <th>Equipo</th>
                            <th>Hora</th>
                            <th>Alarma</th>
                            <th>Gestión</th>
                            <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reporte in reportes  %}
                            <tr>
                                <td>{{ reporte.inc }} </td>
                                <td>{{ reporte.equipo }} </td>
                                <td>{{ reporte.hora_inicio }} </td>
                                <td>{{ reporte.tipo_alarma }} </td>
                                <td>{{ reporte.gestion }} </td>
                                <td><a href="{% url 'caso' reporte_id=reporte.id %}"><button type="button" class="btn btn-success btn-sm"><i class="fa-sharp fa-solid fa-eye-to-square"></i> Ver </button></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
        
                        
                        <!--Fin de contenido a mostrar-->
                        </div>
                </div>
            </div>
        </section>


{% endblock %}