{% extends 'plantilla.html' %}

{% block title %}Sistema NOC - IA Colvacor{% endblock %}

{% block sub-title %}Fila de Casos pendientes para creacion por IA Colvacor{% endblock %}

{% block content %}
    <table style="font-size: 10px;" id="example1" class="table table-bordered table-hover text-center">
        <thead style="font-size: 10px;">
            <tr>
                <th>Hora</th>
                <th>Equipo</th>
                <th>Alarma</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cola in colas  %}
            <tr>
                <td>{{ cola.hora }}</td>
                <td>{{ cola.equipo }}</td>
                <td>{{ cola.tipo_alarma }}</td>
                <td><a href="{% url 'stela' cola_id=cola.id %}" style="font-size: 12px;" class="btn btn-success btn-sm fa-sharp fa-solid fa-eye-to-square" >Crear</a></td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
{% endblock %}