{% extends 'plantilla.html' %}

{% block title %}Sistema NOC - IA Colvacor{% endblock %}

{% block sub-title %}Fila de Casos pendientes para creacion por IA Colvacor{% endblock %}

{% block content %}
    <table style="font-size: 10px;" id="example1" class="table table-bordered table-hover text-center">
        <thead style="font-size: 10px;">
            <tr>
                <th>Hora</th>
                <th>Equipo</th>
                <th>Alarma</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>$dato</td>
                <td>$dato</td>
                <td>$dato</td>
                <td><a href="{% url 'stela' %}"><button style="font-size: 10px;" type="button" class="btn btn-success btn-sm"><i class="fa-sharp fa-solid fa-eye-to-square"></i> Gestionar </button></a></td>
            </tr>
        </tbody>
    </table>
{% endblock %}