  <div class="card-body">
    <div class="tab-content" id="custom-tabs-one-tabContent">
      <!--Contenido pestaña dash-->
      <div class="tab-pane fade show active" id="custom-tabs-one-dash" role="tabpanel" aria-labelledby="custom-tabs-one-dash-tab">
        {% include './alarmas/dashboard.html' %}
      </div>
      <!--Contenido pestaña core-->
      <div class="tab-pane fade show" id="custom-tabs-one-core" role="tabpanel" aria-labelledby="custom-tabs-one-core-tab">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada lacus ullamcorper dui molestie, sit amet congue quam finibus. Etiam ultricies nunc non magna feugiat commodo. Etiam odio magna, mollis auctor felis vitae, ullamcorper ornare ligula. Proin pellentesque tincidunt nisi, vitae ullamcorper felis aliquam id. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin id orci eu lectus blandit suscipit. Phasellus porta, ante et varius ornare, sem enim sollicitudin eros, at commodo leo est vitae lacus. Etiam ut porta sem. Proin porttitor porta nisl, id tempor risus rhoncus quis. In in quam a nibh cursus pulvinar non consequat neque. Mauris lacus elit, condimentum ac condimentum at, semper vitae lectus. Cras lacinia erat eget sapien porta consectetur.
      </div>

      <!--Contenido pestaña nodo-->
      <div class="tab-pane fade" id="custom-tabs-one-nodo" role="tabpanel" aria-labelledby="custom-tabs-one-nodo-tab">
        Mauris tincidunt mi at erat gravida, eget tristique urna bibendum. Mauris pharetra purus ut ligula tempor, et vulputate metus facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas sollicitudin, nisi a luctus interdum, nisl ligula placerat mi, quis posuere purus ligula eu lectus. Donec nunc tellus, elementum sit amet ultricies at, posuere nec nunc. Nunc euismod pellentesque diam.
      </div>
      <!--fin Contenido pestaña nodo-->

      <!--Contenido pestaña gpon-->
      <div class="tab-pane fade" id="custom-tabs-one-gpon" role="tabpanel" aria-labelledby="custom-tabs-one-gpon-tab">
        Morbi turpis dolor, vulputate vitae felis non, tincidunt congue mauris. Phasellus volutpat augue id mi placerat mollis. Vivamus faucibus eu massa eget condimentum. Fusce nec hendrerit sem, ac tristique nulla. Integer vestibulum orci odio. Cras nec augue ipsum. Suspendisse ut velit condimentum, mattis urna a, malesuada nunc. Curabitur eleifend facilisis velit finibus tristique. Nam vulputate, eros non luctus efficitur, ipsum odio volutpat massa, sit amet sollicitudin est libero sed ipsum. Nulla lacinia, ex vitae gravida fermentum, lectus ipsum gravida arcu, id fermentum metus arcu vel metus. Curabitur eget sem eu risus tincidunt eleifend ac ornare magna.
      </div>
      <!--fin Contenido pestaña gpon-->

      <!--Contenido pestaña txnal-->
      <div class="tab-pane fade" id="custom-tabs-one-txnal" role="tabpanel" aria-labelledby="custom-tabs-one-txnal-tab">
        Pellentesque vestibulum commodo nibh nec blandit. Maecenas neque magna, iaculis tempus turpis ac, ornare sodales tellus. Mauris eget blandit dolor. Quisque tincidunt venenatis vulputate. Morbi euismod molestie tristique. Vestibulum consectetur dolor a vestibulum pharetra. Donec interdum placerat urna nec pharetra. Etiam eget dapibus orci, eget aliquet urna. Nunc at consequat diam. Nunc et felis ut nisl commodo dignissim. In hac habitasse platea dictumst. Praesent imperdiet accumsan ex sit amet facilisis.
      </div>
      <!-- fin Contenido pestaña ADSL -->
      <div class="tab-pane fade" id="custom-tabs-one-adsl" role="tabpanel" aria-labelledby="custom-tabs-one-adsl-tab">
        {% include './alarmas/adsl.html' %}
      </div>

      <div class="tab-pane fade" id="custom-tabs-one-local" role="tabpanel" aria-labelledby="custom-tabs-one-local-tab">
        Mauris tincidunt mi at erat gravida, eget tristique urna bibendum. Mauris pharetra purus ut ligula tempor, et vulputate metus facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas sollicitudin, nisi a luctus interdum, nisl ligula placerat mi, quis posuere purus ligula eu lectus. Donec nunc tellus, elementum sit amet ultricies at, posuere nec nunc. Nunc euismod pellentesque diam.
      </div>
      <!-- fin Contenido pestaña txlocal-->

      <!--Contenido pestaña iptv-->
      <div class="tab-pane fade" id="custom-tabs-one-iptv" role="tabpanel" aria-labelledby="custom-tabs-one-iptv-tab">
        Morbi turpis dolor, vulputate vitae felis non, tincidunt congue mauris. Phasellus volutpat augue id mi placerat mollis. Vivamus faucibus eu massa eget condimentum. Fusce nec hendrerit sem, ac tristique nulla. Integer vestibulum orci odio. Cras nec augue ipsum. Suspendisse ut velit condimentum, mattis urna a, malesuada nunc. Curabitur eleifend facilisis velit finibus tristique. Nam vulputate, eros non luctus efficitur, ipsum odio volutpat massa, sit amet sollicitudin est libero sed ipsum. Nulla lacinia, ex vitae gravida fermentum, lectus ipsum gravida arcu, id fermentum metus arcu vel metus. Curabitur eget sem eu risus tincidunt eleifend ac ornare magna.
      </div>
      <!--Contenido pestaña iptv-->

      <!--Contenido pestaña mpls-->
      <div class="tab-pane fade" id="custom-tabs-one-mpls" role="tabpanel" aria-labelledby="custom-tabs-one-mpls-tab">
        {% include './alarmas/mpls.html' %}
      </div>

    </div>
  </div>