<div class="container">
    <div class="row my-4">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div id="chart1" class="chart"></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div id="chart2" class="chart"></div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div id="chart3" class="chart"></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div id="chart4" class="chart"></div>
        </div>
    </div>
</div>
