{% extends 'plantilla.html' %}

{% block title %}Sistema NOC - Descartada{% endblock %}

{% block sub-title %}Ver alarma descartada  numero {{ descartada.id_alarma }}{% endblock %}

{% block content %}
<form method="POST">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <label for="hora_inicio">Hora</label>
                <input type="text" class="form-control" id="hora_inicio" name="hora_inicio" value="{{descartada.hora_inicio}}" readonly>
            </div>
            <div class="col-6">
                <label for="equipo">Equipo</label>
                <input type="text" class="form-control" id="equipo" name="equipo" value="{{descartada.equipo}}" readonly>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label for="tipo_alarma">Tipo Alarma</label>
                <input type="text" class="form-control" id="tipo_alarma" name="tipo_alarma" value="{{descartada.tipo_alarma}}" readonly>
            </div>
            <div class="col-6">
                <label for="usuario">Usuario Descarte</label>
                <input type="text" class="form-control" id="usuario" name="usuario" value="{{descartada.usuario}}" readonly>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label for="motivo_descarte">Motivo Descarte</label>
                <input type="text" class="form-control" id="motivo_descarte" name="motivo_descarte" value="{{descartada.motivo_descarte}}" readonly>
            </div>
            <div class="col-6">
                <label for="clientes">Clientes Afectados</label>
                <input type="text" class="form-control" id="clientes" name="clientes" value="{{descartada.clientes}}" readonly>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label for="central">Central</label>
                <input type="text" class="form-control" id="central" name="central" value="{{descartada.central}}" readonly>
            </div>
            <div class="col-6">
                <label for="hora_descarte">Hora Descarte</label>
                <input type="text" class="form-control" id="hora_descarte" name="hora_descarte" value="{{descartada.hora_descarte}}" readonly>
            </div>
        </div>
    </div>

    <div class="card-footer text-center">
        <button type="submit" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i> Confirmar Recuperación</button> &nbsp;
        <a href="{% url 'alarmas' %}" class="btn btn-secondary">Cancelar y volver</a>
    </div>
</form>


{% endblock %}