<div class="card-body">
                          <div class="tab-content" id="custom-tabs-one-tabContent">
                            <!--Contenido pestaña core-->

                            <div class="tab-pane fade show active" id="custom-tabs-one-dash" role="tabpanel" aria-labelledby="custom-tabs-one-dash-tab">
                                {% include 'admin/dashboard_admin.html' %}
                            </div>
                            <!--Contenido pestaña core-->
                            <div class="tab-pane fade show" id="custom-tabs-one-core" role="tabpanel" aria-labelledby="custom-tabs-one-core-tab">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada lacus ullamcorper dui molestie, sit amet congue quam finibus. Etiam ultricies nunc non magna feugiat commodo. Etiam odio magna, mollis auctor felis vitae, ullamcorper ornare ligula. Proin pellentesque tincidunt nisi, vitae ullamcorper felis aliquam id. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin id orci eu lectus blandit suscipit. Phasellus porta, ante et varius ornare, sem enim sollicitudin eros, at commodo leo est vitae lacus. Etiam ut porta sem. Proin porttitor porta nisl, id tempor risus rhoncus quis. In in quam a nibh cursus pulvinar non consequat neque. Mauris lacus elit, condimentum ac condimentum at, semper vitae lectus. Cras lacinia erat eget sapien porta consectetur.
                            </div>
                            
                            <!--Fin contenido pestañ core-->

                            <!--Contenido pestaña nodo-->
                            <div class="tab-pane fade" id="custom-tabs-one-nodo" role="tabpanel" aria-labelledby="custom-tabs-one-nodo-tab">
                              Mauris tincidunt mi at erat gravida, eget tristique urna bibendum. Mauris pharetra purus ut ligula tempor, et vulputate metus facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas sollicitudin, nisi a luctus interdum, nisl ligula placerat mi, quis posuere purus ligula eu lectus. Donec nunc tellus, elementum sit amet ultricies at, posuere nec nunc. Nunc euismod pellentesque diam.
                            </div>
                            <!--fin Contenido pestaña nodo-->

                            <!--Contenido pestaña gpon-->
                            <div class="tab-pane fade" id="custom-tabs-one-gpon" role="tabpanel" aria-labelledby="custom-tabs-one-gpon-tab">
                              Morbi turpis dolor, vulputate vitae felis non, tincidunt congue mauris. Phasellus volutpat augue id mi placerat mollis. Vivamus faucibus eu massa eget condimentum. Fusce nec hendrerit sem, ac tristique nulla. Integer vestibulum orci odio. Cras nec augue ipsum. Suspendisse ut velit condimentum, mattis urna a, malesuada nunc. Curabitur eleifend facilisis velit finibus tristique. Nam vulputate, eros non luctus efficitur, ipsum odio volutpat massa, sit amet sollicitudin est libero sed ipsum. Nulla lacinia, ex vitae gravida fermentum, lectus ipsum gravida arcu, id fermentum metus arcu vel metus. Curabitur eget sem eu risus tincidunt eleifend ac ornare magna.
                            </div>
                            <!--fin Contenido pestaña gpon-->

                            <!--Contenido pestaña txnal-->
                            <div class="tab-pane fade" id="custom-tabs-one-txnal" role="tabpanel" aria-labelledby="custom-tabs-one-txnal-tab">
                              Pellentesque vestibulum commodo nibh nec blandit. Maecenas neque magna, iaculis tempus turpis ac, ornare sodales tellus. Mauris eget blandit dolor. Quisque tincidunt venenatis vulputate. Morbi euismod molestie tristique. Vestibulum consectetur dolor a vestibulum pharetra. Donec interdum placerat urna nec pharetra. Etiam eget dapibus orci, eget aliquet urna. Nunc at consequat diam. Nunc et felis ut nisl commodo dignissim. In hac habitasse platea dictumst. Praesent imperdiet accumsan ex sit amet facilisis.
                            </div>
                            <!--fin Contenido pestaña txnal-->

                            <!--Contenido pestaña adsl-->
                            <div class="tab-pane fade" id="custom-tabs-one-adsl" role="tabpanel" aria-labelledby="custom-tabs-one-adsl-tab">

                              <!--Fin contenedor de pestañas ADSL-->
                              <div class="row">
                                <div class="col-12 col-sm-12">
                                  <div class="card card-primary card-outline card-tabs">
                                    <div class="card-header p-0 pt-1 border-bottom-0">
                                      <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                                        <li class="nav-item">
                                          <a class="nav-link" id="custom-tabs-three-alarmasadsl-tab" data-toggle="pill" href="#custom-tabs-three-alarmasadsl" role="tab" aria-controls="custom-tabs-three-alarmasadsl" aria-selected="true">Alarmas</a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" id="custom-tabs-three-seguimientoadsl-tab" data-toggle="pill" href="#custom-tabs-three-seguimientoadsl" role="tab" aria-controls="custom-tabs-three-seguimientoadsl" aria-selected="false">Seguimiento</a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" id="custom-tabs-three-baseadsl-tab" data-toggle="pill" href="#custom-tabs-three-baseadsl" role="tab" aria-controls="custom-tabs-three-baseadsl" aria-selected="false">Base de Conocimiento</a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" id="custom-tabs-three-manttoadsl-tab" data-toggle="pill" href="#custom-tabs-three-manttoadsl" role="tab" aria-controls="custom-tabs-three-manttoadsl" aria-selected="false">Vent. Mantto</a>
                                        </li>
                                      </ul>
                                    </div>
                                    <div class="card-body">
                                      <div class="tab-content" id="custom-tabs-three-tabContent">

                                        <!--Inicio pestaña alarmas adsl-->
                                        <div class="tab-pane fade show active" id="custom-tabs-three-alarmasadsl" role="tabpanel" aria-labelledby="custom-tabs-three-alarmasadsl-tab">

                                          <!--Inicio pestañas alarmas-->
                                          <div class="row">
                                            <div class="col-md-7">
                                              <div class="card card-default" style="width: 100%;display: inline-block;width: 100%;overflow-x: auto;white-space: nowrap">
                                                <div class="card-header">
                                                  <h3 class="card-title">
                                                    <i class="fas fa-exclamation-triangle"></i>
                                                    Alarmas Detectadas
                                                  </h3>
                                                </div>
                                                <!-- /.card-header -->
                                                <div class="card-body" style="width: 95%;overflow-x: auto;white-space: nowrap">

                                                  <!--Inicio codigo tablas-->
                                                  <section class="content">
                                                    <div class="row">
                                                      <div class="container-fluid">
                                                        <table style="font-size: 10px;" id="example2" class="table table-bordered table-hover text-center">
                                                          <thead>
                                                            <tr>
                                                              <th>IM</th>
                                                              <th>Hora</th>
                                                              <th>Alarma</th>
                                                              <th>Equipo</th>
                                                              <th><i class="fas fa-clock"></i></th>
                                                              <th>Acciones</th>
                                                            </tr>
                                                          </thead>
                                                          <tbody>
                                                            <tr>
                                                                <td><input type="checkbox" name=""></td>
                                                                <td>prueba</td>
                                                                <td>datos</td>
                                                                <td style="font-size: 10PX;"><b>valor</b></td>
                                                                <td>
                                                                  <form action="" method="POST" name="form">
                                                                    <input style="width:50px;border: none;" type="label" class="label text-center" type="text" name="" placeholder="ingrese pago" id="pago" value="<?php
                                                                                                                                                                                                                    date_default_timezone_set("America/Bogota");
                                                                                                                                                                                                                    // Definir las dos fechas y horas
                                                                                                                                                                                                                    $fecha_inicio = date("Y-m-d H:i:s");
                                                                                                                                                                                                                    $fecha_fin = $dato->hora_inicio;
                                                                                                                                                                                                                    // Convertir las fechas y horas en formato de tiempo Unix
                                                                                                                                                                                                                    $inicio_unix = strtotime($fecha_inicio);
                                                                                                                                                                                                                    $fin_unix = strtotime($fecha_fin);
                                                                                                                                                                                                                    // Calcular la diferencia en segundos
                                                                                                                                                                                                                    $diferencia_segundos = $inicio_unix - $fin_unix;
                                                                                                                                                                                                                    // Calcular los minutos
                                                                                                                                                                                                                    $minutos = round($diferencia_segundos / 60);
                                                                                                                                                                                                                    // Calcular los minutos
                                                                                                                                                                                                                    $segundos = round($diferencia_segundos / 600);
                                                                                                                                                                                                                    // Mostrar el resultado
                                                                                                                                                                                                                    echo "$minutos";
                                                                                                                                                                                                                    ?>">
                                                                    <input type="hidden" id="total" value="<?php echo $total; ?>">
                                                                  </form>
                                                                  <script>
                                                                    // Obtiene el elemento del cronómetro
                                                                    var cronometro2 = document.getElementById('pago');
                                                                    // Obtén el valor del cronómetro como número (suponiendo que sea un campo numérico)
                                                                    var valorCronometro = parseInt(cronometro2.value);
                                                                    // Comprueba si el valor es menor o igual a 10
                                                                    if (valorCronometro <= 10) {
                                                                      cronometro2.style.color = "red";
                                                                    }
                                                                  </script>
                                                                </td>
                                                                <td><a href="gestionar.php?id_alarma=<?php echo $dato->id; ?>"><button style="font-size: 10px;" type="button" class="btn btn-success btn-sm"><i class="fa-sharp fa-solid fa-pen-to-square"></i>Gestionar</button></a></td><?php } ?>
                                                              </tr>
                                                          </tbody>
                                                        </table>
                                                      </div>
                                                      <!-- /.col -->
                                                    </div>
                                                    <!-- /.row -->
                                                  </section>
                                                  <!--Fin codigo tablas-->
                                                </div>
                                                <!-- /.card-body -->
                                              </div>
                                              <!-- /.card -->
                                            </div>
                                            <!-- /.col -->

                                            <div class="col-md-5">
                                              <div class="card card-default" style="width: 100%;display: inline-block;width: 100%;overflow-x: auto;white-space: nowrap">
                                                <div class="card-header">
                                                  <h3 class="card-title">
                                                    <i class="fas fa-bullhorn"></i>
                                                    Cola de Creación Colvacor Intellisense
                                                  </h3>
                                                </div>
                                                <!-- /.card-header -->
                                                <div class="card-body" style="width: 95%;overflow-x: auto;white-space: nowrap">

                                                  <!--Inicio cola de creacion-->
                                                  <table style="font-size: 10px;" id="example1" class="table table-bordered table-hover text-center">
                                                    <thead style="font-size: 10px;">
                                                      <tr>
                                                        <th>Hora</th>
                                                        <th>Equipo</th>
                                                        <th>Alarma</th>
                                                        <th>Acciones</th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                      <?php
                                                      foreach ($equipos1 as $dato) {
                                                      ?>
                                                        <tr>
                                                          <td><?php echo $dato->hora; ?></td>
                                                          <td><?php echo $dato->equipo; ?></td>
                                                          <td><?php echo $dato->tipo_alarma; ?></td>
                                                          <td><a href="ver.php?id_alarma=<?php echo $dato->id_alarma; ?>"><button style="font-size: 10px;" type="button" class="btn btn-success btn-sm"><i class="fa-sharp fa-solid fa-eye-to-square"></i> Ver </button></a></td>
                                                        </tr>

                                                      <?php } ?>

                                                    </tbody>
                                                  </table>
                                                  <!--Fin cola de creacion-->

                                                </div>
                                                <!-- /.card-body -->
                                              </div>
                                              <!-- /.card -->
                                            </div>
                                            <!-- /.col -->
                                          </div>
                                          <!--Fin pestañas alarmas-->

                                        </div>
                                        <!--Fin pestaña alarmas adsl-->


                                        <div class="tab-pane fade" id="custom-tabs-three-seguimientoadsl" role="tabpanel" aria-labelledby="custom-tabs-three-seguimientoadsl-tab">
                                          Mauris tincidunt mi at erat gravida, eget tristique urna bibendum. Mauris pharetra purus ut ligula tempor, et vulputate metus facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas sollicitudin, nisi a luctus interdum, nisl ligula placerat mi, quis posuere purus ligula eu lectus. Donec nunc tellus, elementum sit amet ultricies at, posuere nec nunc. Nunc euismod pellentesque diam.
                                        </div>
                                        <div class="tab-pane fade" id="custom-tabs-three-baseadsl" role="tabpanel" aria-labelledby="custom-tabs-three-baseadsl-tab">
                                          <div class="container-fluid" style="overflow: auto;">
                                            <?php
                                            include('bitacora_reportes.php');
                                            ?>
                                          </div>
                                        </div>
                                        <div class="tab-pane fade" id="custom-tabs-three-manttoadsl" role="tabpanel" aria-labelledby="custom-tabs-three-manttoadsl-tab">
                                          Ventana de mantenimiento
                                        </div>
                                      </div>
                                    </div>
                                    <!-- /.card -->
                                  </div>
                                </div>
                              </div>
                              <!--Fin contenedor de pestañas ADSL-->
                            </div>
                            <!-- fin Contenido pestaña adsl-->

                            <!--Contenido pestaña txlocal-->
                            <div class="tab-pane fade" id="custom-tabs-one-local" role="tabpanel" aria-labelledby="custom-tabs-one-local-tab">
                              Mauris tincidunt mi at erat gravida, eget tristique urna bibendum. Mauris pharetra purus ut ligula tempor, et vulputate metus facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas sollicitudin, nisi a luctus interdum, nisl ligula placerat mi, quis posuere purus ligula eu lectus. Donec nunc tellus, elementum sit amet ultricies at, posuere nec nunc. Nunc euismod pellentesque diam.
                            </div>
                            <!-- fin Contenido pestaña txlocal-->

                            <!--Contenido pestaña iptv-->
                            <div class="tab-pane fade" id="custom-tabs-one-iptv" role="tabpanel" aria-labelledby="custom-tabs-one-iptv-tab">
                              Morbi turpis dolor, vulputate vitae felis non, tincidunt congue mauris. Phasellus volutpat augue id mi placerat mollis. Vivamus faucibus eu massa eget condimentum. Fusce nec hendrerit sem, ac tristique nulla. Integer vestibulum orci odio. Cras nec augue ipsum. Suspendisse ut velit condimentum, mattis urna a, malesuada nunc. Curabitur eleifend facilisis velit finibus tristique. Nam vulputate, eros non luctus efficitur, ipsum odio volutpat massa, sit amet sollicitudin est libero sed ipsum. Nulla lacinia, ex vitae gravida fermentum, lectus ipsum gravida arcu, id fermentum metus arcu vel metus. Curabitur eget sem eu risus tincidunt eleifend ac ornare magna.
                            </div>
                            <!--Contenido pestaña iptv-->

                            <!--Contenido pestaña mpls-->
                            <div class="tab-pane fade" id="custom-tabs-one-mpls" role="tabpanel" aria-labelledby="custom-tabs-one-mpls-tab">
                              Pellentesque vestibulum commodo nibh nec blandit. Maecenas neque magna, iaculis tempus turpis ac, ornare sodales tellus. Mauris eget blandit dolor. Quisque tincidunt venenatis vulputate. Morbi euismod molestie tristique. Vestibulum consectetur dolor a vestibulum pharetra. Donec interdum placerat urna nec pharetra. Etiam eget dapibus orci, eget aliquet urna. Nunc at consequat diam. Nunc et felis ut nisl commodo dignissim. In hac habitasse platea dictumst. Praesent imperdiet accumsan ex sit amet facilisis.
                            </div>
                            <!--Contenido pestaña mpls-->

                          </div>
                        </div>
                        <!-- /.card -->
                      </div>
                    </div>
                  </div>
                  <!--Fin de Row para pestañas-->
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  Gestión de Operaciones Colvacor
                </div>
                <!-- /.card-footer-->
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->