{% extends 'plantilla.html' %}

{% block title %}Sistema NOC - Reportes{% endblock %}

{% block sub-title %}Gestión y Generación de reportes{% endblock %}

{% block content %}
<div class="row">
                                        <!--Inicio primer card-->
                                        <div class="col-md-4">

                                            <div class="card card-info">
                                                <div class="card-header">
                                                    <h3 class="card-title">Generar reporte por actuación</h3>
                                                </div>
    
    
                                                <form id="miFormulario1">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <label for="fechaInicial1">Fecha Inicial</label>
                                                            <input type="date" class="form-control" id="fechaInicial1" placeholder="Enter email">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="fechaFinal1">Fecha Final</label>
                                                            <input type="date" class="form-control" id="fechaFinal1" placeholder="Password">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputFile">Segmento del Reporte</label>
                                                            <div class="input-group">
                                                                <select class="form-control" name="segmento" id="segmento">
                                                                    <option value="" selected disabled>Seleccione una opcion</option>
                                                                    <option value="Descartadas">Descartadas</option>
                                                                    <option value="Creadas">Creadas</option>
                                                                    <option value="Pendientes">Pendientes por creación</option>
                                                                </select>
                                                            </div>
                                                        </div>
    
                                                    </div>
    
                                                    <div class="card-footer">
                                                        <button type="submit" class="btn btn-info"  id="descargaBtn1" style="color:#fff;">Descarga</button>
                                                    </div>
                                                </form>
                                            </div>
    
                                        </div>
                                        <!--Fin primer card de reportes-->
    
                                        <!--Inicio segundo card-->
                                        <div class="col-md-4">
    
                                            <div class="card card-primary">
                                                <div class="card-header">
                                                    <h3 class="card-title">Generar reporte por fechas</h3>
                                                </div>
    
    
                                                <form id="miFormulario2">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <label for="fechaInicial2">Fecha Inicial</label>
                                                            <input type="date" class="form-control" id="fechaInicial2"   placeholder="Enter email">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="fechaFinal2">Fecha Final</label>
                                                            <input type="date" class="form-control" id="fechaFinal2" placeholder="Password">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputFile">Segmento del Reporte</label>
                                                            <div class="input-group">
                                                                <select class="form-control" name="segmento" id="segmento">
                                                                    <option value="" selected disabled>Seleccione una opcion</option>
                                                                    <option value="">Global</option>
                                                                    <option value="">ADSL</option>
                                                                    <option value="">MPLS</option>
                                                                    <option value="">IPTV</option>
                                                                    <option value="">CORE</option>
                                                                    <option value="">NODO</option>
                                                                    <option value="">GPON</option>
                                                                    <option value="">TX LOCAL</option>
                                                                    <option value="">TX NAL</option>
                                                                </select>
                                                            </div>
                                                        </div>
    
                                                    </div>
    
                                                    <div class="card-footer">
                                                        <button type="submit" class="btn btn-primary" id="descargaBtn2" >Descarga</button>
                                                    </div>
                                                </form>
                                            </div>
    
                                        </div>
                                        <!--Fin segundo card de reportes-->
    
    
                                        <!--Inicio tercer card-->
                                        <div class="col-md-4">
    
                                            <div class="card card-danger">
                                                <div class="card-header">
                                                    <h3 class="card-title">Generar reporte de alarmas recibidas</h3>
                                                </div>
    
    
                                                <form id="miFormulario3">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <label for="fechaInicial3">Fecha Inicial</label>
                                                            <input type="date" class="form-control" id="fechaInicial3" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="fechaFinal3">Fecha Final</label>
                                                            <input type="date" class="form-control" id="fechaFinal3" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="segmento">Segmento del Reporte</label>
                                                            <div class="input-group">
                                                                <select class="form-control" name="segmento" id="segmento">
                                                                    <option value="" selected disabled>Seleccione una opcion</option>
                                                                    <option value="">Global</option>
                                                                    <option value="">ADSL</option>
                                                                    <option value="">MPLS</option>
                                                                    <option value="">IPTV</option>
                                                                    <option value="">CORE</option>
                                                                    <option value="">NODO</option>
                                                                    <option value="">GPON</option>
                                                                    <option value="">TX LOCAL</option>
                                                                    <option value="">TX NAL</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                
                                                    <div class="card-footer">
                                                        <button type="submit" class="btn btn-primary" id="descargaBtn3">Descarga</button>
                                                    </div>
                                                </form>
                                            </div>
    
                                        </div>
</div>
{% include 'admin/script/fechas.html' %}
{% endblock %}