{% load static %}
<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'sistema1' %}" class="nav-link">Inicio</a>
      </li>
    </ul>

    <!-- links de menu superior-->
    <ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="" role="button">
          <i class="fas fa-refresh"><i class="fas fa-spinner"></i>&nbsp;Actualizar : </i>
        </a>
      </li>
    <li>
    <a class="nav-item">
          <select id="tiempo_refresh" name="tiempo_refresh" class="form-control select2" style="width: 100%;">
            <option value="60" selected >Cada minuto</option>
            <option value="120">Cada 2 minutos</option>
            <option value="300">Cada 5 minutos</option>
            <option value="420">Cada 7 minutos</option>
        </select>
    
    </a>
    </li>
    <!-- Opcion para pantalla fullscreen -->
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <!-- Opcion para activar modo oscuro -->
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->



  <!-- Contenedor de menu -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Logo -->
    <a href="{% url 'sistema1' %}" class="brand-link">
      <img src="{% static 'img/colvacor_mini.png' %}" alt="AdminLTE Logo" class="brand-image" style="opacity: .8">
      <span class="brand-text font-weight-light"><b> Colvacor </b></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'img/avatar5.png' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="{% url 'user' %}" class="d-block">{{ context.primer_nombre }} {{ context.ultimo_nombre }}</a>
        </div>
      </div>

    <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Inicio de accesos y opciones del menu -->
          
          <!--Inicio de opcion para seleccion de gestiones-->
          
          <li class="nav-item">
            <a href="{% url 'sistema1' %}" class="nav-link">
              <i class="nav-icon fas fa-keyboard"></i>
              <p>
                Gestiones
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <div class="card card-light collapsed-card">

              <form method="post" action="">
                {% csrf_token %}
                <div class="icheck-success d-inline"><!--Inicio de gestiones-->
              &nbsp;
                    <input  type="checkbox" id="check1" name="view1" {% if context.show_view1 %}checked{% endif %}>
                    <label for="check1">
                      CORE
                    </label>
              &nbsp;
                    <input  type="checkbox" id="check2" name="view2" {% if context.show_view2 %}checked{% endif %}>
                    <label for="check2">
                      NODO
                    </label>
              &nbsp;
                    <input  type="checkbox" id="check3" name="view3" {% if context.show_view3 %}checked{% endif %}>
                    <label for="check3">
                      GPON
                    </label>      
              </div><!--fin de gestiones-->

              <div class="icheck-success d-inline"><!--Inicio de gestiones 2 -->
                <br>
              &nbsp; <input  type="checkbox" id="check4" name="view4" {% if context.show_view4 %}checked{% endif %}>
                    <label for="check4">
                      TX NAL
                    </label>
              &nbsp;
                    <input  type="checkbox" id="check5" name="view5" {% if context.show_view5 %}checked{% endif %}>
                    <label for="check5">
                      ADSL
                    </label>
              &nbsp;
                    <input  type="checkbox" id="check6" name="view6" {% if context.show_view6 %}checked{% endif %}>
                    <label for="check6">
                      TX LOCAL
                    </label>      
              </div><!--fin de gestiones 2--> 

              <div class="icheck-success d-inline"><!--Inicio de gestiones 3-->
                <br>
                &nbsp;
                    <input  type="checkbox" id="check7" name="view7" {% if context.show_view7 %}checked{% endif %}>
                    <label for="check7">
                      IPTV
                    </label>
              &nbsp;
                    <input  type="checkbox" id="check8" name="view8" {% if context.show_view8 %}checked{% endif %}>
                    <label for="check8">
                      MPLS
                    </label><br>&nbsp;
                    <button  type="submit" class="btn btn-md btn-primary btn-xs">Guardar Preferencias</button>
              &nbsp;     
              </div><!--fin de gestiones 3--> 
              </form>
              
              

              <div class="card-header"></div></div>
            </ul>
          </li>
          <!--Fin de opcion para seleccion de gestiones-->
          <li class="nav-item">
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Administracion  
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'usuarios' %}" class="nav-link">
                  <i class="fas fa-user"></i>
                  <p>&nbsp;Gestionar Usuarios</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'nuevo' %}" class="nav-link">
                  <i class="fas fa-user-plus"></i>
                  <p> Crear Nuevo Usuario</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'correos' %}" class="nav-link">
                  <i class="fas fa-envelope "></i>
                  <p>&nbsp;Gestionar De Correos</p>
                </a>
              </li>
            </ul>
          </li>


          <li class="nav-item">
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-cube"></i>
              <p>
                  Gestion de Alarmas  
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'alarmas' %}" class="nav-link">
                  <i class="fas fa-bell-slash"></i>
                  <p> &nbsp; Alarmas Descartadas</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'casos' %}" class="nav-link">
                  <i class="fas fa-file-export"></i>
                  <p>
                      &nbsp; Casos Reportados
                  </p>
                </a>
              </li>
            </ul>
          </li>

          

          <li class="nav-header">Reporting</li> 
            <li class="nav-item">
            <a href="{% url 'reportes' %}" class="nav-link">
                <i class="fas fa-file-excel"></i>
                <p>
                    &nbsp; Generar Reportes
                </p>
                </a>
            </li> 

            <li class="nav-header">Gestion de Cuenta</li> 

            <li class="nav-item">
            <a href="{% url 'user' %}" class="nav-link">
                <i class="fas fa-user"></i>
                <p>
                    &nbsp; Mi cuenta
                </p>
                </a>
            </li> 

            <li class="nav-item">
              
            <a class="nav-link" data-toggle="modal" data-target="#myModal" >
                <i class="fas fa-toggle-off"></i>
                <p>
                  &nbsp;Cerrar Sesión
                </p> 
                </a>

            </li>


            <li class="nav-header">Colvacor Intellisense</li> 
            <li class="nav-item" name="itemIA" id="itemIA">
              <a id="vercolaia" name="vercolaia" href="{% url 'cola' %}" class="nav-link">
                  <i class="fas fa-robot"></i>
                  <p>
                    &nbsp;Creación Casos IA
                  </p>
                </a>
              </li> 

              <li class="nav-item" name="itemIA" id="itemIA">
                <a id="vercolaia" name="vercolaia" href="{% url 'actualiza_stela' %}" class="nav-link">
                    <i class="fas fa-robot"></i>
                    <p>
                      &nbsp; Actualizacion Casos IA 
                    </p>
                  </a>
                </li> 

                <li class="nav-item" name="itemIA" id="itemIA">
                  <a id="vercolaia" name="vercolaia" href="{% url 'carga' %}" class="nav-link">
                      <i class="fas fa-robot"></i>
                      <p>
                        &nbsp; Carga Casos IA 
                      </p>
                    </a>
                  </li> 

                  <li class="nav-item" name="itemIA" id="itemIA">
                    <a id="vercolaia" name="vercolaia" href="{% url 'ver_mensaje' %}" class="nav-link">
                        <i class="fas fa-robot"></i>
                        <p>
                          &nbsp; mensajes Casos IA 
                        </p>
                      </a>
                    </li>    


        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->

  </aside>
  <script>
    function recargarVista() {
        var selectTiempo = document.getElementById("tiempo_refresh");
        
        // Obtiene el valor almacenado en localStorage
        var tiempoGuardado = localStorage.getItem("tiempoSeleccionado");

        // Si hay un valor almacenado, selecciónalo
        if (tiempoGuardado) {
            selectTiempo.value = tiempoGuardado;
        }

        selectTiempo.addEventListener("change", function() {
            var tiempoSeleccionado = selectTiempo.value;
            
            // Almacena la selección en localStorage
            localStorage.setItem("tiempoSeleccionado", tiempoSeleccionado);

            // Establece el temporizador de recarga
            setTimeout(function() {
                location.reload();
                console.log("Hola, esto se mostrará en la consola del navegador.");
            }, tiempoSeleccionado * 1000);
        });
    }

    recargarVista();
</script>