{% extends 'plantilla.html' %}

{% block title %}Sistema NOC - Nuevo usuario{% endblock %}

{% block sub-title %}Nuevo Usuario{% endblock %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        <div class="form-group row"> 
            <label for="name" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="name" name="name" placeholder="Ingrese un Nombre Completo" required >
            </div>
            
            <label for="cargo" class="col-sm-3 col-form-label" >Cargo</label>
            <div class="col-sm-3">
                <select class="form-control"  id="cargo" name="cargo" required>
                    <option value="Cargo" disabled >Cargo</option>
                    <option value="Admin" >Admin</option>
                    <option value="Operador">Operador</option>
                    <option value="Reporting">Reporting</option>
                </select> 
            </div>   
        </div>
        
        <div class="form-group row">
            <label for="segmento" class="col-sm-2 col-form-label">Segmento</label>
            <div class="col-sm-3">
                <select class="form-control" id="segmento" name="segmento" required>
                    <option value="Colvatel" >Colvatel</option>
                    <option value="ETB" >ETB</option>
                </select>
            </div>
            


            <label for="gestion" class="col-sm-3 col-form-label">Gestión</label>
            <div class="col-sm-3">
                <select class="form-control" id="gestion" name="gestion" required>
                    <option value="ADSL" >ADSL</option>
                    <option value="MPLS" >MPLS</option>
                    <option value="CORE" >CORE</option>
                    <option value="NODO" >NODO</option>
                    <option value="GPON" >GPON</option>
                    <option value="IPTV" >IPTV</option>
                    <option value="TX LOCAL" >TX LOCAL</option>
                    <option value="TX NACIONAL" >TX NACIONAL</option>
                    <option value="MULTISKILL" >MULTISKILL</option>
                </select>
            </div>
            
        </div>
    
        <div class="form-group row" >
            <label for="correo" class="col-sm-2 col-form-label">Correo</label>
            <div class="col-sm-3">
                <input type="email" class="form-control" id="correo" name="correo" required >
            </div>
    
            <label for="user" class="col-sm-3 col-form-label">Nuevo Nombre de Usuario</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="user" name="user" required >
            </div>
        </div>
        <div class="from-group row">
            <label for="clave" class="col-sm-2 col-form-label" >Contraseña</label>
            <div class="col-sm-3">
                <input type="password" class="form-control" id="clave" name="clave" placeholder="Ingrese la contraseña deseada" required>
            </div>
            <div class="col-sm-3  mt-sm-1">
                <button class="btn btn-success btn-block" type="submit" >Agregar Usuario</button>
            </div>
            <div class="col-sm-3  mt-sm-1 ">
                <button class="btn btn-danger btn-block" type="submit" >Cancelar creacion</button>
            </div>
        </div>
    </form>

    
    
{% endblock %}