{% extends 'plantilla.html' %}

{% block title %}Sistema NOC - Nuevo usuario{% endblock %}

{% block sub-title %}Nuevo Usuario{% endblock %}

{% block content %}

    <form action="">
        <div class="form-group row"> 

            <label for="inputEmail3" class="col-sm-1 col-form-label">Id Alarma</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="id_alarma" name="id_alarma"  >
            </div>
            
            <label for="inputEmail3" class="col-sm-2 col-form-label">Equipo Afectado</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="equipo" name="equipo" >
            </div>

        </div>
        <div class="form-group row" >
            <label for="inputEmail3" class="col-sm-2 col-form-label">Hora Afectación</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="hora_inicio" name="hora_inicio"  >
            </div>
    
            <label for="inputEmail3" class="col-sm-2 col-form-label">Hora Afectación</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="hora_inicio" name="hora_inicio"  >
            </div>
        </div>
    
        <div class="form-group row" >
            <label for="inputEmail3" class="col-sm-2 col-form-label">Hora Afectación</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="hora_inicio" name="hora_inicio"  >
            </div>
    
            <label for="inputEmail3" class="col-sm-2 col-form-label">Hora Afectación</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="hora_inicio" name="hora_inicio"  >
            </div>
    
        </div>
    
        <div class="form-group row" >
            <label for="inputEmail3" class="col-sm-2 col-form-label">Hora Afectación</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="hora_inicio" name="hora_inicio"  >
            </div>
    
            <label for="inputEmail3" class="col-sm-2 col-form-label">Hora Afectación</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="hora_inicio" name="hora_inicio"  >
            </div>
    
                
            </div>
            <button class="btn btn-dark" type="submit" >Agregar Usuario</button>

    </form>

    
    
{% endblock %}