{% extends 'plantilla.html' %}

{% block title %}Sistema NOC -  cola de creación {% endblock %}

{% block sub-title %}Ver reporte en cola de creación{% endblock %}

{% block content %}
<form name="frm" id="frm" class="form" method="POST" > 
    {% csrf_token %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                        <h3 class="card-title">Información del Escalamiento</h3>
                <!--Inicio de formulario para gestionar incidente-->                
                </div>
                <div class="card-body">
                    <div class="card card-dark">
                        <div class="card-header">
                            <h3 class="card-title">Gestión y Reporte de Afectación en </h3>
                        </div>
                        <div class="card-body">
                                <!--formulario 1 -->    <!--formulario 1 --> 
                                
                                <div class="form-group row"  > 
                                    
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Id Alarma</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="id_alarma" name="id_alarma"  value="{{ cola.id_alarma }}" readonly >
                                    </div>
                                    
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Tipo de Caso</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="tipo_evento" name="tipo_evento"  readonly value="{{ cola.tipo_evento }}" >
                                    </div>
                                    
                                </div>
                                <!--formulario 2 -->   
                                <div class="form-group row"> 
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Central</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="central" name="central"  readonly value="{{ cola.central }}" >
                                    </div>
                                    <input style="display: none;" type="text" class="form-control" id="usuario" name="usuario"  readonly value="{{ cola.usuario }}" >
                                    <input style="display: none;" type="text" class="form-control" id="tipo_escalamiento" name="tipo_escalamiento"  readonly value="{{ cola.tipo_escalamiento }}" >
                                    <input style="display: none;" type="text" class="form-control" id="hora" name="hora"  readonly value="{{ cola.hora }}" >

                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Clientes Afectados</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="clientes1" name="clientes1" readonly value="{{ cola.clientes }}" >
                                    </div>
                                    
                                </div>
                                <!--formulario 3 -->   
                                <div class="form-group row">    
                                    
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Gestión propietaria</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="gestion" name="gestion" readonly value="{{ cola.gestion }}" >
                                    </div>
                                    
                                    
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Estado</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="tipo_alarma" name="tipo_alarma"  readonly value="{{ cola.estado }}" >
                                    </div>
                                </div>
                                <center><strong><i class="fas fa-book mr-1"></i> Documentación de INC</strong></center>

                                <div class="input-group mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Resumen</label>
                                    <input type="text" class="form-control rounded-0" id="resumen" name="resumen"  readonly value=" FALLA SOBRE EQUIPO {{ cola.equipo }}, DE LA CENTRAL  {{ cola.central }} , con {{ cola.clientes }}  clientes afectados en el momento."  >
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-info btn-flat" onclick="copiarAlPortapapeles();">Copiar</button>
                                    </span>
                                </div>

                                <div class="input-group mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Notas</label>
                                    <textarea rows="7" type="text" class="form-control rounded-0 fixed-size-textarea" id="plantilla" name="plantilla" readonly > {{ mensaje }} </textarea>
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-info btn-flat" onclick="copiarAlPortapapeles1();">Copiar</button>
                                    </span>
                                </div>

                                <div class="input-group mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Tipo Alarma</label>
                                    <input type="text" class="form-control rounded-0" id="tipo_evento" name="tipo_evento" readonly value="{{ cola.tipo_alarma }}" >
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-info btn-flat" onclick="copiarAlPortapapeles3();">Copiar</button>
                                    </span>
                                </div>
                                <div class="input-group mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Hora Afectación</label>
                                    <input type="text" class="form-control rounded-0" id="hora_inicio" name="hora_inicio"  readonly value="{{ cola.hora_inicio }}" >
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-info btn-flat" onclick="copiarAlPortapapeles2();">Copiar</button>
                                    </span>
                                </div>

                                <div class="input-group mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Clientes Afectados</label>
                                    <input type="text" class="form-control rounded-0" id="clientes" name="clientes"  readonly value="{{ cola.clientes }}" >
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-info btn-flat" onclick="copiarAlPortapapeles4();">Copiar</button>
                                    </span>
                                </div>

                                <div class="input-group mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Documentacion 1</label>
                                    <input type="text" class="form-control rounded-0" id="docu1" name="docu1"  readonly value="{{ cola.docu1 }}" >
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-info btn-flat" onclick="copiarAlPortapapeles5();">Copiar</button>
                                    </span>
                                </div>

                                <div class="input-group mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Documentacion 2</label>
                                    <input type="text" class="form-control rounded-0" id="docu2" name="docu2"  readonly value="{{ cola.docu2 }}" >
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-info btn-flat" onclick="copiarAlPortapapeles6();">Copiar</button>
                                    </span>
                                </div>

                                <div class="input-group mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Documentacion 3</label>
                                    <input type="text" class="form-control rounded-0" id="docu3" name="docu3"  readonly value="{{ cola.docu3 }}" >
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-info btn-flat" onclick="copiarAlPortapapeles7();">Copiar</button>
                                    </span>
                                </div>

                                <div class="input-group mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Documentacion 4</label>
                                    <input type="text" class="form-control rounded-0" id="docu4" name="docu4"  readonly value="{{ cola.docu4 }}" >
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-info btn-flat" onclick="copiarAlPortapapeles8();">Copiar</button>
                                    </span>
                                </div>

                                <div class="input-group mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Equipo Afectado</label>
                                    <input type="text" class="form-control rounded-0" id="equipo" name="equipo"  readonly value="{{ cola.equipo }}"  >
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-info btn-flat" onclick="copiarAlPortapapeles9();">Copiar</button>
                                    </span>
                                </div>


                                <div class="input-group mb-3">
                                    <label for="inputEmail3" class="col-sm-3 col-form-label">Hora de Creacion Remedy</label>
                                    <input type="text" class="form-control rounded-0" id="hora_reporte" name="hora_reporte" value="">
                                    <span class="input-group-append">
                                    </span>
                                </div>

                                <div class="input-group mb-3">
                                    <label for="inputEmail3" class="col-sm-3 col-form-label">Incidente Generado</label>
                                    <input type="text" class="form-control rounded-0" id="inc" name="inc" value="">
                                    <span class="input-group-append">
                                    </span>
                                </div>
                                
                                <div class="input-group mb-3">
                                    <label for="inputEmail3" class="col-sm-3 col-form-label">Grupo</label>
                                    <input type="text" class="form-control rounded-0" id="Grupo_reporte" name="Grupo_reporte" value="">
                                    <span class="input-group-append">
                                    </span>
                                </div>

                                <div class="input-group mb-3">
                                    <label for="cliente" class="col-sm-3 col-form-label">Cliente</label>
                                    <input type="text" class="form-control rounded-0" id="cliente" name="cliente" value="">
                                    <span class="input-group-append">
                                    </span>
                                </div>

                                <div class="input-group mb-3">
                                    <label for="hora_asignacion" class="col-sm-3 col-form-label">Hora de Asignacion</label>
                                    <input type="text" class="form-control rounded-0" id="hora_asignacion" name="hora_asignacion" value="">
                                    <span class="input-group-append">
                                    </span>
                                </div>

                                <div class="input-group mb-3">
                                    <label for="usuario_asignado" class="col-sm-3 col-form-label">Usuario Asignado</label>
                                    <input type="text" class="form-control rounded-0" id="usuario_asignado" name="usuario_asignado" value="">
                                    <span class="input-group-append">
                                    </span>
                                </div>

                                <div class="input-group mb-3">
                                    <label for="servicio_afectado" class="col-sm-3 col-form-label">Servicio Afectado</label>
                                    <input type="text" class="form-control rounded-0" id="servicio_afectado" name="servicio_afectado" value="">
                                    <span class="input-group-append">
                                    </span>
                                </div>

                                <div class="input-group mb-3">
                                    <label for="ciudad" class="col-sm-3 col-form-label">Ciudad</label>
                                    <input type="text" class="form-control rounded-0" id="ciudad" name="ciudad" value="">
                                    <span class="input-group-append">
                                    </span>
                                </div>

                                <div class="input-group mb-3">
                                    <label for="categoria" class="col-sm-3 col-form-label">Categoria</label>
                                    <input type="text" class="form-control rounded-0" id="categoria" name="categoria" value="">
                                    <span class="input-group-append">
                                    </span>
                                </div>

                                <div class="input-group mb-3">
                                    <label for="tecnologia" class="col-sm-3 col-form-label">Tecnologia</label>
                                    <input type="text" class="form-control rounded-0" id="tecnologia" name="tecnologia" value="">
                                    <span class="input-group-append">
                                    </span>
                                </div>


                                <div class="input-group mb-3">
                                    <label for="estado_afectacion" class="col-sm-3 col-form-label">Estado Afectacion</label>
                                    <input type="text" class="form-control rounded-0" id="estado_afectacion" name="estado_afectacion" value="">
                                    <span class="input-group-append">
                                    </span>
                                </div>

                                <div class="input-group mb-3">
                                    <label for="estado_incidencia" class="col-sm-3 col-form-label">Estado Incidencia</label>
                                    <input type="text" class="form-control rounded-0" id="estado_incidencia" name="estado_incidencia" value="">
                                    <span class="input-group-append">
                                    </span>
                                </div>


                                <div class="input-group mb-3">
                                    <label for="Fecha fin_de_afectacion" class="col-sm-3 col-form-label">Fecha fin de afectacion</label>
                                    <input type="text" class="form-control rounded-0" id="Fecha fin_de_afectacion" name="Fecha fin_de_afectacion" value="">
                                    <span class="input-group-append">
                                    </span>
                                </div>


                                <div class="input-group mb-3">
                                    <label for="fecha_cierre" class="col-sm-3 col-form-label">Fecha de cierre</label>
                                    <input type="text" class="form-control rounded-0" id="fecha_cierre" name="fecha_cierre" value="">
                                    <span class="input-group-append">
                                    </span>
                                </div>
                                

                                <div class="input-group mb-3">
                                    <label for="descripcion_incidencia" class="col-sm-3 col-form-label">Descripcion Incidencia</label>
                                    <input type="text" class="form-control rounded-0" id="descripcion_incidencia" name="descripcion_incidencia" value="">
                                    <span class="input-group-append">
                                    </span>
                                </div>


                                <div class="input-group mb-3">
                                    <label for="tipo_causa_nivel_2" class="col-sm-4 col-form-label">Tipo Causa Raiz conocida nivel 2</label>
                                    <input type="text" class="form-control rounded-0" id="tipo_causa_nivel_2" name="tipo_causa_nivel_2" value="">
                                    <span class="input-group-append">
                                    </span>
                                </div>
                                
                                <div class="input-group mb-3">
                                    <label for="tipo_causa_nivel_4" class="col-sm-4 col-form-label">Tipo Causa Raiz conocida nivel 4</label>
                                    <input type="text" class="form-control rounded-0" id="tipo_causa_nivel_4" name="tipo_causa_nivel_4" value="">
                                    <span class="input-group-append">
                                    </span>
                                </div>

                                
                                <div class="input-group mb-3">
                                    <label for="cod_cierre" class="col-sm-3 col-form-label">Cod Cierre</label>
                                    <input type="text" class="form-control rounded-0" id="cod_cierre" name="cod_cierre" value="">
                                    <span class="input-group-append">
                                    </span>
                                </div>

                                <div class="input-group mb-3">
                                    <label for="solucion" class="col-sm-3 col-form-label">Solucion</label>
                                    <input type="text" class="form-control rounded-0" id="solucion" name="solucion" value="">
                                    <span class="input-group-append">
                                    </span>
                                </div>

                                
                                <div id="actions" class="row">
                                    <div class="col-lg-12">
                                        <div class="btn-group ">
                                            <button type="submit" class="btn btn-success">Guardar Incidente y Notificar usuarios</button>
                                        </div>
                                    </div>
                                </div>

                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</form>
{% include 'admin/script/copiados.html' %}
{% endblock %}