{% extends 'plantilla.html' %}
{% load static %}

{% block title %}Sistema NOC -  Whatsapp {% endblock %}

{% block sub-title %}Ver reporte en cola de creación{% endblock %}

{% block content %}


<div class="card-body">
                              
    <form name="frm" id="frm" class="form" method="POST" > 
    <input type="hidden" name="csrfmiddlewaretoken" value="Fbn6SLgdBcs4T9EpRB5hzBsjyPEJd2ThTf8RkUmNK2rMq7e4czYWrJ4XuVpx8rJL">
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-header">
                        <h3 class="card-title">Información del Escalamiento</h3>              
                </div>

                <div class="card-body">
                    <div class="card card-dark">
                        <div class="card-header">
                            <h3 class="card-title"> Reporte de Afectación en </h3>
                        </div>
                        <div class="card-body">
                                <div class="input-group mb-3">
                                    <label for="inputEmail3" class="col-sm-3 col-form-label">Notificación</label>
                                    <textarea rows="7" type="text" class="form-control rounded-0 fixed-size-textarea" id="plantilla_notificacion" name="plantilla" readonly >{{ mensaje2 }}</textarea>
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-info btn-flat" onclick="copiarAlPortapapeles1();">Copiar</button>
                                    </span>
                                </div>
                                <div class="input-group mb-3">
                                    <label for="inputEmail3" class="col-sm-3 col-form-label">¿Se notifico via Whatsapp?</label>
                                    <input type="text" class="form-control rounded-0" id="notificacion_whats" name="notificacion_whats" value="">
                                    <span class="input-group-append">
                                    </span>
                                </div>
                                
                                <div id="actions" class="row">
                                    <div class="col-lg-12">
                                        <div class="btn-group ">
                                            <button type="submit" class="btn btn-success">Guardar Incidente</button>
                                        </div>
                                    </div>
                                </div>
    
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>    



<script type="text/javascript">
    function copiarAlPortapapeles() {
        /* Obtener el campo de entrada */
        var campoInput = document.getElementById("resumen");

        /* Seleccionar el texto del campo de entrada */
        campoInput.select();
        campoInput.setSelectionRange(0, 99999); /* Para dispositivos móviles */

        /* Copiar el texto al portapapeles */
        document.execCommand("copy");

        /* Deseleccionar el texto del campo de entrada */
        campoInput.blur();
    }
</script>

<script type="text/javascript">
    function copiarAlPortapapeles1() {
        /* Obtener el campo de entrada */
        var campoInput = document.getElementById("plantilla");

        /* Seleccionar el texto del campo de entrada */
        campoInput.select();
        campoInput.setSelectionRange(0, 99999); /* Para dispositivos móviles */

        /* Copiar el texto al portapapeles */
        document.execCommand("copy");

        /* Deseleccionar el texto del campo de entrada */
        campoInput.blur();
    }
</script>

<script type="text/javascript">
function copiarAlPortapapeles1() {
    /* Obtener el campo de entrada */
    var campoInput = document.getElementById("plantilla_notificacion");

    /* Seleccionar el texto del campo de entrada */
    campoInput.select();
    campoInput.setSelectionRange(0, 99999); /* Para dispositivos móviles */

    /* Copiar el texto al portapapeles */
    document.execCommand("copy");

    /* Deseleccionar el texto del campo de entrada */
    campoInput.blur();
}
</script>


<script type="text/javascript">
    function copiarAlPortapapeles2() {
        /* Obtener el campo de entrada */
        var campoInput = document.getElementById("hora_inicio");

        /* Seleccionar el texto del campo de entrada */
        campoInput.select();
        campoInput.setSelectionRange(0, 99999); /* Para dispositivos móviles */

        /* Copiar el texto al portapapeles */
        document.execCommand("copy");

        /* Deseleccionar el texto del campo de entrada */
        campoInput.blur();
    }
</script>

<script type="text/javascript">
    function copiarAlPortapapeles3() {
        /* Obtener el campo de entrada */
        var campoInput = document.getElementById("tipo_evento");

        /* Seleccionar el texto del campo de entrada */
        campoInput.select();
        campoInput.setSelectionRange(0, 99999); /* Para dispositivos móviles */

        /* Copiar el texto al portapapeles */
        document.execCommand("copy");

        /* Deseleccionar el texto del campo de entrada */
        campoInput.blur();
    }
</script>

<script type="text/javascript">
    function copiarAlPortapapeles4() {
        /* Obtener el campo de entrada */
        var campoInput = document.getElementById("clientes");

        /* Seleccionar el texto del campo de entrada */
        campoInput.select();
        campoInput.setSelectionRange(0, 99999); /* Para dispositivos móviles */

        /* Copiar el texto al portapapeles */
        document.execCommand("copy");

        /* Deseleccionar el texto del campo de entrada */
        campoInput.blur();
    }
</script>

<script type="text/javascript">
    function copiarAlPortapapeles5() {
        /* Obtener el campo de entrada */
        var campoInput = document.getElementById("docu1");
        /* Seleccionar el texto del campo de entrada */
        campoInput.select();
        campoInput.setSelectionRange(0, 99999); /* Para dispositivos móviles */

        /* Copiar el texto al portapapeles */
        document.execCommand("copy");

        /* Deseleccionar el texto del campo de entrada */
        campoInput.blur();
    }
</script>

<script type="text/javascript">
    function copiarAlPortapapeles6() {
        /* Obtener el campo de entrada */
        var campoInput = document.getElementById("docu2");

        /* Seleccionar el texto del campo de entrada */
        campoInput.select();
        campoInput.setSelectionRange(0, 99999); /* Para dispositivos móviles */

        /* Copiar el texto al portapapeles */
        document.execCommand("copy");

        /* Deseleccionar el texto del campo de entrada */
        campoInput.blur();
    }
</script>

<script type="text/javascript">
    function copiarAlPortapapeles7() {
        /* Obtener el campo de entrada */
        var campoInput = document.getElementById("docu3");

        /* Seleccionar el texto del campo de entrada */
        campoInput.select();
        campoInput.setSelectionRange(0, 99999); /* Para dispositivos móviles */

        /* Copiar el texto al portapapeles */
        document.execCommand("copy");

        /* Deseleccionar el texto del campo de entrada */
        campoInput.blur();
    }
</script>

<script type="text/javascript">
    function copiarAlPortapapeles8() {
        /* Obtener el campo de entrada */
        var campoInput = document.getElementById("docu4");

        /* Seleccionar el texto del campo de entrada */
        campoInput.select();
        campoInput.setSelectionRange(0, 99999); /* Para dispositivos móviles */

        /* Copiar el texto al portapapeles */
        document.execCommand("copy");

        /* Deseleccionar el texto del campo de entrada */
        campoInput.blur();
    }
</script>


<script type="text/javascript">
function copiarAlPortapapeles9() {
    /* Obtener el campo de entrada */
    var campoInput = document.getElementById("equipo");

    /* Seleccionar el texto del campo de entrada */
    campoInput.select();
    campoInput.setSelectionRange(0, 99999); /* Para dispositivos móviles */

    /* Copiar el texto al portapapeles */
    document.execCommand("copy");

    /* Deseleccionar el texto del campo de entrada */
    campoInput.blur();
}
</script>


{% endblock %}