<!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Correo de Notificacion </title>
            </head>
            <body>
                <h1>Enviar Correo</h1>
                <p>Se ha creado el {{ cola.inc }} con impacto alto en la gestion ADSL</p>
                <p>Se genera reporte a las {{ cola.hora_inicio }}, y se crea el incidente correspondiente en remedy siendo las {{ cola.hora }}, con una afectacion de {{ cola.clientes }} clientes.</p>
                <p>Esta es una notificación automatica de Colvacor Intellisense, por favor no responda este correo.</p>
                <p>Ingrese a https://remedyti.etb.com.co/arsys/forms/remedyapp/SHR%3ALandingConsole/ para consultar el caso mencionado.</p>
                <p>Cordialmente Colvacor</p>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-align-box-left-top" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
                    <path d="M9 13h-2" />
                    <path d="M13 10h-6" />
                    <path d="M11 7h-4" />
                </svg>     
            </body>
            </html>