<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead  class="thead-dark" >
            <tr>
                <th>Hora</th>
                <th>Equipo</th>
                <th>Alarma</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>prueba</td>
                <td>prueba</td>
                <td>prueba</td>
                <td><a href="{% url 'stela' %}"><button style="font-size: 10px;" type="button" class="btn btn-success btn-sm"><i class="fa-sharp fa-solid fa-eye-to-square"></i> Gestionar </button></a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>