@import "../global.css";

.contLog {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    width: 100%;
}

.contLog-login {
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 6px;
    background: var(--color-terciary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    padding: 10px;
    width: 294px;
}

.contLog-login .contLog-login__logo {
    padding: 4px;
    margin: 20px 8px;
    width: 100%;
}

.contLog-login .contLog-login__title {
    color: var(--color-primary);
    font-size: 18px;
    font-weight: bold;
    padding: 0px 10px;
    margin: 21px 0px;
    text-align: center;
}

.contLog-login .contLog-login__descript {
    color: var(--color-primary);
    font-size: 16px;
    padding: 0px 12px;
    margin-bottom: 16px;
    text-align: center;
}

.input-container {
    position: relative;
    margin: 16px auto;
    width: 100%;
}

.input-container input[type="text"],
input[type="password"] {
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid var(--color-secundary);
    font-size: 20px;
    outline: none;
    padding: 5px;
    width: 100%;
}

.input-container .label {
    position: absolute;
    top: 6px;
    left: 6px;
    color: var(--color-secundary);
    transition: all 0.3s ease;
    pointer-events: none;
}


/* Estilos para el label cuando el campo está en foco o tiene un valor válido */
.input-container input:focus~.label,
.input-container input:valid~.label {
    top: -20px;
    font-size: 16px;
    color: var(--color-primary);
}

/* Estilos para la línea subrayada cuando el campo está en foco o tiene un valor válido */
.input-container input:focus~.underline,
.input-container input:valid~.underline {
    transform: scaleX(1);
}


.BtnCon {
    width: 200px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: var(--btnBanck);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
}

.IconContainer {
    position: absolute;
    left: -50px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
}

.IconContainer img{
    width: 100%;
}

.icon {
    border-radius: 1px;
}

.text {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-terciary);
    z-index: 1;
    transition-duration: .5s;
    font-size: 12px;
    font-weight: 600;
}

.BtnCon:hover .IconContainer {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;
}

.BtnCon:hover .text {
    transform: translate(10px, 0px);
    transition-duration: .5s;
}

.BtnCon:active {
    transform: scale(0.95);
    transition-duration: .5s;
}


/****============eyes===========******/
.container-password {
    position: relative;
}

.icon {
    cursor: pointer;
    display: block;
    height: 16px;
    right: 8px;
    opacity: 0.6;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
}

.icon:hover {
    opacity: 0.8;
}


.icon img {
    width: 100%;
}

.icon-two {
    cursor: pointer;
    display: none;
    height: 16px;
    right: 8px;
    opacity: 0.6;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
}

.icon-two:hover {
    opacity: 0.8;
}


.icon-two img {
    width: 100%;
}

/****============Link recuperar password===========******/
.container-password a{
    color: var(--color-primary);
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    right: 0px;
    top: -18px;
}


/****============Link volver a inicio===========******/
.backToToP {
    width: 200px;
    margin: 12px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backToToP img{
    width: 10px
}

.backToToP a {
    color: var(--btnBanck);
    font-size: 12px;
}


/****============MediaQuery===========******/

@media (min-width: 767px) {
    .contLog-login {
        height: 419px;
        width: 359px;
    }

    .contLog-login .contLog-login__title {
        font-size: 20px;
    }

    .contLog-login .contLog-login__descript {
        font-size: 16px;
    }
}


@media (min-width: 1024px) {
    .contLog-login {
        height: 440px;
        width: 400px;
    }

    .contLog-login .contLog-login__title {
        font-size: 24px;
    }

    .contLog-login .contLog-login__descript {
        font-size: 18px;
    }

    .BtnCon {
        width: 200px;
    }
}