    <script type="text/javascript">
        function copiarAlPortapapeles() {
            /* Obtener el campo de entrada */
            var campoInput = document.getElementById("resumen");

            /* Seleccionar el texto del campo de entrada */
            campoInput.select();
            campoInput.setSelectionRange(0, 99999); /* Para dispositivos móviles */

            /* Copiar el texto al portapapeles */
            document.execCommand("copy");

            /* Deseleccionar el texto del campo de entrada */
            campoInput.blur();
        }
    </script>

    <script type="text/javascript">
        function copiarAlPortapapeles1() {
            /* Obtener el campo de entrada */
            var campoInput = document.getElementById("plantilla");

            /* Seleccionar el texto del campo de entrada */
            campoInput.select();
            campoInput.setSelectionRange(0, 99999); /* Para dispositivos móviles */

            /* Copiar el texto al portapapeles */
            document.execCommand("copy");

            /* Deseleccionar el texto del campo de entrada */
            campoInput.blur();
        }
    </script>


<script type="text/javascript">
        function copiarAlPortapapeles2() {
            /* Obtener el campo de entrada */
            var campoInput = document.getElementById("hora_inicio");

            /* Seleccionar el texto del campo de entrada */
            campoInput.select();
            campoInput.setSelectionRange(0, 99999); /* Para dispositivos móviles */

            /* Copiar el texto al portapapeles */
            document.execCommand("copy");

            /* Deseleccionar el texto del campo de entrada */
            campoInput.blur();
        }
</script>

<script type="text/javascript">
        function copiarAlPortapapeles3() {
            /* Obtener el campo de entrada */
            var campoInput = document.getElementById("tipo_evento");

            /* Seleccionar el texto del campo de entrada */
            campoInput.select();
            campoInput.setSelectionRange(0, 99999); /* Para dispositivos móviles */

            /* Copiar el texto al portapapeles */
            document.execCommand("copy");

            /* Deseleccionar el texto del campo de entrada */
            campoInput.blur();
        }
</script>

<script type="text/javascript">
        function copiarAlPortapapeles4() {
            /* Obtener el campo de entrada */
            var campoInput = document.getElementById("clientes");

            /* Seleccionar el texto del campo de entrada */
            campoInput.select();
            campoInput.setSelectionRange(0, 99999); /* Para dispositivos móviles */

            /* Copiar el texto al portapapeles */
            document.execCommand("copy");

            /* Deseleccionar el texto del campo de entrada */
            campoInput.blur();
        }
</script>

<script type="text/javascript">
        function copiarAlPortapapeles5() {
            /* Obtener el campo de entrada */
            var campoInput = document.getElementById("docu1");
            /* Seleccionar el texto del campo de entrada */
            campoInput.select();
            campoInput.setSelectionRange(0, 99999); /* Para dispositivos móviles */

            /* Copiar el texto al portapapeles */
            document.execCommand("copy");

            /* Deseleccionar el texto del campo de entrada */
            campoInput.blur();
        }
</script>

<script type="text/javascript">
        function copiarAlPortapapeles6() {
            /* Obtener el campo de entrada */
            var campoInput = document.getElementById("docu2");

            /* Seleccionar el texto del campo de entrada */
            campoInput.select();
            campoInput.setSelectionRange(0, 99999); /* Para dispositivos móviles */

            /* Copiar el texto al portapapeles */
            document.execCommand("copy");

            /* Deseleccionar el texto del campo de entrada */
            campoInput.blur();
        }
</script>

<script type="text/javascript">
        function copiarAlPortapapeles7() {
            /* Obtener el campo de entrada */
            var campoInput = document.getElementById("docu3");

            /* Seleccionar el texto del campo de entrada */
            campoInput.select();
            campoInput.setSelectionRange(0, 99999); /* Para dispositivos móviles */

            /* Copiar el texto al portapapeles */
            document.execCommand("copy");

            /* Deseleccionar el texto del campo de entrada */
            campoInput.blur();
        }
</script>

<script type="text/javascript">
        function copiarAlPortapapeles8() {
            /* Obtener el campo de entrada */
            var campoInput = document.getElementById("docu4");

            /* Seleccionar el texto del campo de entrada */
            campoInput.select();
            campoInput.setSelectionRange(0, 99999); /* Para dispositivos móviles */

            /* Copiar el texto al portapapeles */
            document.execCommand("copy");

            /* Deseleccionar el texto del campo de entrada */
            campoInput.blur();
        }
</script>
    

<script type="text/javascript">
    function copiarAlPortapapeles9() {
        /* Obtener el campo de entrada */
        var campoInput = document.getElementById("equipo");

        /* Seleccionar el texto del campo de entrada */
        campoInput.select();
        campoInput.setSelectionRange(0, 99999); /* Para dispositivos móviles */

        /* Copiar el texto al portapapeles */
        document.execCommand("copy");

        /* Deseleccionar el texto del campo de entrada */
        campoInput.blur();
    }
</script>


<script type="text/javascript">
    function copiarAlPortapapeles10() {
        /* Obtener el campo de entrada */
        var campoInput = document.getElementById("plantilla_notificacion");

        /* Seleccionar el texto del campo de entrada */
        campoInput.select();
        campoInput.setSelectionRange(0, 99999); /* Para dispositivos móviles */

        /* Copiar el texto al portapapeles */
        document.execCommand("copy");

        /* Deseleccionar el texto del campo de entrada */
        campoInput.blur();
    }
</script>
