<script>
    const formulario1 = document.getElementById('miFormulario1');
    const fechaInicial1 = document.getElementById('fechaInicial1');
    const fechaFinal1 = document.getElementById('fechaFinal1');
    const descargaBtn1 = document.getElementById('descargaBtn1');
    
    formulario1.addEventListener('input', function() {
        const fechaActual1 = new Date();
        const fechaInicialValue1 = new Date(fechaInicial1.value);
        const fechaFinalValue1 = new Date(fechaFinal1.value);
        
        if (fechaFinalValue1 > fechaActual1  || fechaInicialValue1 > fechaActual1 ) {
            descargaBtn1.disabled = true;

            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'La Fecha no puede ser Mayor que la Fecha actual ',
                footer: ''
                })

        } else {
            descargaBtn1.disabled = false;
        }
    });
</script>




<script>
    const formulario2 = document.getElementById('miFormulario2');
    const fechaInicial2 = document.getElementById('fechaInicial2');
    const fechaFinal2 = document.getElementById('fechaFinal2');
    const descargaBtn2 = document.getElementById('descargaBtn2');
    
    formulario2.addEventListener('input', function() {
        const fechaActual2 = new Date();
        const fechaInicialValue2 = new Date(fechaInicial2.value);
        const fechaFinalValue2 = new Date(fechaFinal2.value);
        
        if (fechaFinalValue2 > fechaActual2  || fechaInicialValue2 > fechaActual2 ) {
            descargaBtn2.disabled = true;

            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'La Fecha no puede ser Mayor que la Fecha actual ',
                footer: ''
                })

            return;
        } else {
            descargaBtn2.disabled = false;
        }
    });
</script>




<script>
    const formulario3 = document.getElementById('miFormulario3');
    const fechaInicial3 = document.getElementById('fechaInicial3');
    const fechaFinal3 = document.getElementById('fechaFinal3');
    const descargaBtn3 = document.getElementById('descargaBtn3');
    
    formulario3.addEventListener('input', function() {
        const fechaActual3 = new Date();
        const fechaInicialValue3 = new Date(fechaInicial3.value);
        const fechaFinalValue3 = new Date(fechaFinal3.value);
        
        if (fechaFinalValue3 > fechaActual3  || fechaInicialValue3 > fechaActual3 ) {
            descargaBtn3.disabled = true;
            
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'La Fecha no puede ser Mayor que la Fecha actual ',
                footer: ''
                })
            
            return;
        } else {
            descargaBtn3.disabled = false;
        }
    });
</script>