<script>
    const chart1Checkbox = document.getElementById('chart1Checkbox');
    const chartContainer1 = document.getElementById('chartContainer1');
    let chart1;

    const chart2Checkbox = document.getElementById('chart2Checkbox');
    const chartContainer2 = document.getElementById('chartContainer2');
    let chart2;

    const chart3Checkbox = document.getElementById('chart3Checkbox');
    const chartContainer3 = document.getElementById('chartContainer3');
    let chart3;

    chart1Checkbox.addEventListener('change', () => {
        if (chart1Checkbox.checked) {
            chartContainer1.style.display = 'block';
        } else {
            chartContainer1.style.display = 'none';
        }
        });

    chart2Checkbox.addEventListener('change', () => {
        if (chart2Checkbox.checked) {
            chartContainer2.style.display = 'block';
        } else {
            chartContainer2.style.display = 'none';
        }
        });

    chart3Checkbox.addEventListener('change', () => {
        if (chart3Checkbox.checked) {
            chartContainer3.style.display = 'block';
        } else {
            chartContainer3.style.display = 'none';
        }
        });

        // Crear las gráfica 1
        chart1 = echarts.init(chartContainer1);
        chart1.setOption({
        title: {
            text: 'Reportes por mes'
        },
        xAxis: {
            type: 'category',
            data: ['A', 'B', 'C']
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            type: 'bar',
            data: [10, 20, 15]
        }]
        });
    // Crear las gráfica 3
    chart2 = echarts.init(chartContainer2);
    chart2.setOption({
    title: {
        text: 'Total Descartadas por mes'
    },
    xAxis: {
        type: 'category',
        data: ['X', 'Y', 'Z']
    },
    yAxis: {
        type: 'value'
    },
    series: [{
        type: 'line',
        data: [15, 10, 8]
    }]
});

// Crear las gráfica 3 
        chart3 = echarts.init(chartContainer3);
        chart3.setOption({
        title: {
            text: 'Medicion de Trafico'
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['X', 'Y', 'Z']
        },
        yAxis: {
            type: 'value'
        },
        tooltip: {
            trigger: 'axis'
            },
        series: [{
            type: 'line',
            data: [5, 7, 2],
            areaStyle: {},
            markPoint: {
                data: [
                    { type: 'max', name: 'Max' },
                    { type: 'min', name: 'Min' }
                    ]
                }
        }]
    });

    

</script>